.poster-thumbnail {
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .poster-thumbnail {
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
    background-color: #f0f0f0;
  }

  .mat-grid-tile {
    grid-row-end: span 3;
  }

  .mat-grid-tile img {
    width: 100%;
    height: 100%;
  }

  .mat-grid-tile:hover {
    transform: scale(1.01);
  }
}

@media (max-width: 767px) {
  .mat-grid-list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .poster-thumbnail {
    width: 100%;
    height: auto;
  }
}
